// Colors

:root {
  --color-white: #e8f7fb;
  --color-blue: #057ada;
  --color-orange: #da722c;
  --color-gray: #023047;
  --color-black: #070917;
  --color-violet: #6f7dfb;
}

// BreakPoints
$bp-mobile: 414px;
$bp-tablet: 834px;
$bp-desktop: 1366px;

// Headings
// Для десктопной версии
$h2-black-desktop: #000000; // черный цвет
$h2-white-desktop: #ffffff; // белый цвет

// Для планшетной версии
$h2-black-tablet: #000000; // черный цвет
$h2-white-tablet: #ffffff; // белый цвет

// Для мобильной версии
$h2-black-mobile: #000000; // черный цвет
$h2-white-mobile: #ffffff; // белый цвет
