// Colors

:root {
  --color-white: #e8f7fb;
  --color-blue: #057ada;
  --color-orange: #da722c;
  --color-gray: #023047;
  --color-black: #070917;
  --color-violet: #6f7dfb;
}

// BreakPoints
$bp-mobile: 414px;
$bp-tablet: 834px;
$bp-desktop: 1366px;
