@import "./nullStyles";
@import "./utils";
@import "./base";

// Header
.header {
}
.container {
  background: var(--color-violet);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42px 116px;
}
.header__logo {
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  align-items: center;
}

.header__link {
}

.header__link a {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
}

.header__link:last-child {
  background-color: var(--color-black);
  padding: 1rem 2rem;
  border-radius: 1.5rem;
}

// Hero-section

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.25rem 6.25rem 0 6.25rem;
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  max-width: 457px;
  width: 100%;
}

.hero__title {
  color: #fff;
  font-family: Raleway;
  font-size: 3.125rem;
  font-weight: 900;
  line-height: 125%; /* 62.5px */
}
.hero__text {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
  line-height: 200%; /* 32px */
}
.hero__button {
  align-self: flex-start;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  flex-direction: row;
}

.hero__image {
}

// Comments-section

.comments-section {
  background-color: #fff;
  width: 100%;
}

.comments__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8.4375rem 7.1875rem 6.25rem 7.1875rem;
}

.comments__container .bubble .author__info {
  z-index: 21;
}

.comments__bubbles {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  position: relative;
  z-index: 10;
}

.bubble {
  width: 27.625rem;
  height: 13.75rem;
  box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;
}

.bubble:last-child {
  margin-left: 2rem;
}

.bubble::before {
  content: "";
  width: 28px;
  height: 570px;
  border-radius: 24px;
  background: #023047;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(-1.875rem + 50%);
  transform: translateY(-45%);
  z-index: -1;
}

.bubble__comment {
  padding: 24px 32px;
  background-color: var(--color-violet);
  border-radius: 1.5rem;

  color: #fff;
  font-family: Raleway;
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 150%; /* 27px */
  position: relative;
}

.bubble__comment.orange {
  background-color: var(--color-orange);
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.author__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.author__name {
  color: #023047;
  font-family: Raleway;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 120%; /* 28.8px */
}

.author__position {
  color: #023047;
  font-family: Raleway;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}

.author__image {
  // margin-left: 5rem;
  margin-top: -3.5rem;
  z-index: 50;
}

.comments__content {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  gap: 1.5rem;
}
.comment__title {
  color: var(--color-gray);

  font-family: Raleway;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 72px */
}
.comments__text {
  color: #023047;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
  line-height: 200%; /* 32px */
}
.comment__button {
  align-self: flex-start;
}
